nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

nav h3 {
  font-weight: bolder;
}

nav button {
  width: 60%;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  text-align: left;
  opacity: 0.7;
  border-color: rgb(211, 211, 223);
}
nav h4 {
  background-color: palevioletred;
  padding: 10px;
  border-radius: 80%;
  color: white;
}

.Video-page-display {
  border: 2px solid yellow;
  display: flex;
  padding: 2rem;
}

.video-previews {
  border: 2px solid red;
  width: 40%;
}

.youtube-video {
  /* border: 2px solid green; */
  width: 60%;
  padding-left: 2rem;
}

.subscriber-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.subscriber-container img {
  width: 40px;
  height: 40px;
  border-radius: 2rem;
}

.youtuber-name h4 {
  margin-bottom: 1px;
}
.subscribe {
  padding: 12px;
  color: white;
  background-color: black;
  border-radius: 20px;
}
